name: Android CI

on:
  push:
    branches: [ "master" ]
  pull_request:
    branches: [ "master" ]

jobs:
  build:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v4
    - name: set up JDK 11
      uses: actions/setup-java@v4
      with:
        java-version: '11'
        distribution: 'temurin'
        cache: gradle

    - name: Setup Gradle 7.4.1
      uses: gradle/actions/setup-gradle@v5
      with:
       gradle-version: '7.4.1' # Quotes required to prevent YAML converting to number
    - name: Build with Gradle 8.10
      run: gradle build
